[API_auth]
client_id = 66b96ed7-1db6-4ff6-8d82-657089782bc6
scope = https://graph.microsoft.com/.default
grant_type = client_credentials
client_secret = -eKaz2DStX_E89HFJ.Au3a6r1N9li~_25-
tenant_id = 1126248f-0b1d-43e8-a801-d48393b8d061
url_token_1 = https://login.microsoftonline.com/
url_token_2 = /oauth2/v2.0/token?

[Log_Analytics]
workspace_id = 5a3e5ae2-858b-436e-800b-6136430a3406
primary_key = mU1cXxWIraqyQdiapGQX9K64DuX366YfPq3rZn44+LSXQ2dpX9TI5ZXgYZZTASnLygi8MEtCTSxyE/a5XIiYZg==
log_type = ss